<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="newAccount.css">
    
    <title>Create Admin Account</title>
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img class="logo" src="./../png/logo-desktop.png" alt="ClassyScedule Logo">
        </div>

        <form action="#" id="loginForm">
            <div class="title">Create Admin Account</div>
            <div class="form-control">
                <input type="text" placeholder="Enter your First Name" id="firstName" maxlength="50">
                <div class="underline"></div>
            </div>
            <div class="form-control">
                <input type="text" placeholder="Enter your Last Name" id="lastName" maxlength="50">
                <div class="underline"></div>
            </div>
            <div class="form-control">
                <input type="text" placeholder="Enter a Username" id="username" maxlength="50">
                <div class="underline"></div>
            </div>
            <div class="form-control">
                <input type="password" placeholder="Enter a Password" id="password" maxlength="50">
                <div class="underline"></div>
            </div>
            <div class="form-control">
                <input type="password" placeholder="Re-Enter Your Password" id="passwordTwo" maxlength="50">
                <div class="underline"></div>
            </div>
            <input type="submit" value="Create New Account" class="btn btn-block">
            <div class="end-label">
                <label>Already have an account? </label><a href="./../login/login.html">Log In</a>
            </div>
            
        </form>
    </div>

    <script src="newAccount.js"></script>
</body>
</html>