<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.css">
    
    <title>Login to ClassySchedule</title>
</head>
<body>
    <div class="container">
        <form action="#" id="loginForm">
            <div class="title">Login</div>
            <div class="form-control">
                <input type="text" placeholder="Enter Your Email" id="username" maxlength="50">
                <div class="underline"></div>
            </div>
            <div class="form-control">
                <input type="password" placeholder="Enter Your Password" id="password" maxlength="50">
                <div class="underline"></div>
            </div>
            <input type="submit" value="Continue" class="btn btn-block">
            <div class="end-label">
                <label>Don't have an account? </label><a href="">Create Account</a>
            </div>
            
        </form>
    </div>

    <script src="login.js"></script>
</body>
</html>