.container-home {
    display: flex;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: hidden;
}

.container-top-text {
    /* margin: -15px;
    padding: 10px; */
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.container-home-plan {
    max-width: 50vw;
    margin: 30px auto;
    overflow: auto;
    height: 60vh;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
  }

.home-plan-style {
    max-width:100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.plan-element{
    width: 50%;
}
.addPage-element{
    width: 50%;
}
/*Styles for Top Bar*/
.topbar {
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 40px;
    color: #546e7a;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
}

.topBarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topIconBadge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

/*Styles for Dashboard*/
.home {
    margin: 10px;
    flex: auto;
}

/*Styles for Dashboard items*/
.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 60px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    height: 65%;
}

.featuredTitle {
    font-size: 20px;
}

.featuredInfo {
    margin: 10px 0px;
}

.featuredValue {
    font-size: 30px;
    font-weight: bold;
}


